<% if(Array.isArray(folders)) { %>
<div class="user-folders">
  <% folders.forEach(folder => {%>
  <div class="folders">
    <div class="edit-tile">
      <i class="fa-solid fa-folder lg-folder"></i>
      <form
        action="/<%=folder.id%>/update-foldername"
        method="POST"
        class="update-name-form"
      >
        <input
          class="edit-name"
          type="text"
          name="foldername"
          class="update-name-form"
          value="<%=folder.name%>"
        />
        <button type="submit">save</button>
      </form>
      <form action="/<%=folder.id%>/delete-folder" method="POST">
        <button type="submit" class="delete-folder-only">
          Delete and keep files
        </button>
      </form>
      <form action="/<%=folder.id%>/delete-folder-files" method="POST">
        <button type="submit" class="delete-folder-and-files">
          Delete folder and files
        </button>
      </form>
    </div>
  </div>
  <% })%>
</div>
<%}%>
