<div class="upload-form">

  <h3>Upload</h3>
  
      <form class="upload-file" action="<%=parentFolder.id%>/upload" method="post" enctype="multipart/form-data">
   
  <input type="file" name="avatar" />
  <button type="submit"><i class="fa-solid fa-upload"></i> Upload</button>
</form>
<hr>
<h3>Create Folder</h3>
<form class="create-folder" action="/create-folder" method="POST">
  <label for="folderName">Folder name</label>
  <input type="text" name="folderName" id="folderName">
  <button type="submit"><i class="fa-solid fa-plus"></i> Create folder</button>
</form>
</div>