<div class="user-files">
    <% if(parentFolder.id != locals.user.deskTopFolderId) { %>
        <a class="back-button" href="/"><i class="fa-solid fa-circle-arrow-left"></i> Back</a>
    <% } %>
    <% if(locals.files) { %>
       <% files.forEach(file => {%>
        <figure>
         <img class="thumbnail" src="uploads/<%=file.name%>">

         <figcaption><form action="/<%=file.id%>/updateFileName" method="POST">

         <input type="text" name="update-filename" id="update-filename" value="<%=file.name%>"></form></figcaption>
        <form action="/<%=file.id%>/delete-file" method="POST">
   
            <button type="submit" class="delete-file">❌</button>
         </form>
         </figure>
         
       <%  })%>
    
    <%}%>
</div>

