  <% if(Array.isArray(folders)) { %>
<div class="user-folders">


  
       <% folders.forEach(folder => {%>
        <div class="folders">
         <a href="/<%=folder.id%>"><i class="fa-solid fa-folder"></i> <%=folder.name%></a>
         </div>
       <%  })%>
    
  
</div>
  <%}%>

