<div class="user-files">
     
    <% if(parentFolder.id != locals.user.deskTopFolderId) { %>
        <a class="back-button" href="/"><i class="fa-solid fa-circle-arrow-left"></i> Back</a>
       
    <% } %>
    <% if(locals.files) { %>
       <% files.forEach(file => {%>
      
     
            <figure>
          <a href="<%=file.pathway%>" download="<%=file.fileName%>" class="download">
         <img class="thumbnail" src="<%=file.pathway%>">

         <figcaption>
           <%=file.name%> 
         </figcaption>
       
      
        <i class="fa-solid fa-download"></i>
         </figure>
        </a>    
       <%  })%>
    
    <%}%>
</div>

