<div class="user-files">
    <% if(parentFolder.id != locals.user.deskTopFolderId) { %>
        <a class="back-button" href="/"><i class="fa-solid fa-circle-arrow-left"></i> Back</a>
    <% } %>
    <% if(locals.files) { %>
       <% files.forEach(file => {%>
        <figure>
         <img class="thumbnail" src="uploads/<%=file.name%>">
         <figcaption><%=file.name%></figcaption>
         </figure>
       <%  })%>
    
    <%}%>
</div>

