<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in/ Sign up</title>
</head>
<body>
    <form action="createUser" method="POST">
        <label for="username">Username: (must be a valid email)</label>
        <input type="email" id="username" name="username" required>
        <label for="name">Name: (anything you like)</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" name="confirmPassword" id="confirmPassword">
        <button type="submit">Submit</button>
        
    </form>
     <% if(locals.errors) { %>
        <%- include("partials/errors") %>
    <%}%>
</body>
</html>