
body{
  font-family:monospace
}


table {

  border-collapse: collapse; 
  border: rgb(219, 219, 219) 1px solid;   
  box-shadow: 2px 2px 2px rgb(219, 219, 219);        
}

th, td {
  padding: 12px 15px;
  text-align: left;

}



tbody tr:nth-child(even) {
  background-color: #edf5f7;
}


tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover{
  background-color: rgb(199, 212, 230);
}

button{
  border: none;
  padding: .5rem;
  margin: .5rem;
  box-shadow: 1px 1px 2px rgb(189, 189, 189);
}

button:hover{
   background-color: white;
}

button:active{
  transform: translate(1px);
}

.delete-file, .delete-folder{
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding:0;
  position:absolute;
  top: -1rem;
  right: -1rem;
  font-size: .6rem;

}
.rename-file{
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding:0;
 
  font-size: 1rem;

}
.delete-file:hover, .delete-folder:hover{
  font-size: 1rem;
  background-color: rgb(248, 197, 197);
  padding: .4rem;
  border-radius: 50%;
  color: white;
}

.delete-file:active, .delete-folder:active{
  font-size: .7rem;
}

.update-name-form{
  display: flex;
  padding: 0;
  align-items: baseline;
}
.update-name-form>button, .update-name-form>input{
  /* padding: 0 .5rem; */
  height: fit-content;
  margin: 0.3rem 0;
}
.update-filename{
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding:0;
}

.update-filename:hover{
  text-decoration: underline;
}

add-form{
  padding: 2rem;
}

input{
  box-shadow: 1px 1px 1px rgb(189, 189, 189);;
  border: .1px solid rgb(189, 189, 189);;
  padding: .5rem;
  margin: 1rem;
  display: block;
}

input:hover, input:active{
  background-color: #edf5f7;
}
 label{
    padding: 1rem;
 }

 a{
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
 }

 .lg-folder{
  font-size: 4rem;
}

 .link-button:link, .link-button:visited{
  background-color: #efedee;
  padding: .3rem;
  border-radius: 2px;
  box-shadow: 1px 1px 1px gray;

 }

 .link-button:hover, .link-button:active{
  background-color:#d4d4d4;
 }

 .link-button:active{
  transform: translate(1px);
 }

 i{
  font-size: 2rem;
 }

 .fa-folder{
  color: #4a90e2;
 }

 .fa-download{
  color:dimgray;
  font-size: 1.4rem;
  /* margin-left: .5rem; */
  position:absolute;
  top: 0;
  left: 0.2rem;
  margin-top: .2rem;
 }
/* 
 .file-icon-container{
  width: 100px;
  margin: 2rem;
  border: gray solid 1px;
  display: flex;
  justify-content: center;
 } */

 .upload-form{
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
 }

 .upload-file, .create-folder{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
 
 }

 .create-folder>input{
  display: inline;
 }

.loginHeader{
    display: flex;
    align-items: baseline;
    justify-content:space-around;
} 

.loginHeader>h3, .loginHeader>p, .loginHeader>a{
    margin: 1rem;
}
.styles-brands-admin{
  display: flex;
  /* justify-content: space-around; */
}

.brand-style-block{
  display: flex;
  flex-direction:column;
 
  margin: 1rem auto;
align-items: center;
}

.add-form{
  justify-self: flex-end;
}
.user-files{
  display:flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}
.thumbnail{
  height: 6rem;
  padding: .1rem;
  display: block;
  margin: auto;
  position: relative;
  object-fit: cover;
 border: .1rem solid rgb(240, 240, 240);
 /* box-shadow: 1px 1px 2px gray; */
}
.user-folders{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure, .edit-tile{
  text-align: center;
  position: relative;
   width: 200px;
  margin: 2rem;
  box-shadow: 2px 2px 4px 2px #c9c9c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  align-items: center;
}

figure:hover{
  background-color:rgb(199, 212, 230);
}

figure:hover>.fa-download{
  color: white;
}

figcaption{
  padding: .2rem;
}

.download{
  text-decoration: none;
}

.edit-name{
  width: 7rem;
}
nav{
  margin: 1rem;
}

body{
 display: flex;
 flex-direction: column;
 align-items: center;
}

hr{
 height: .01rem;
 width: 100%;
}

.delete-folder-only{
  background-color: rgb(223, 111, 111);
}

.delete-folder-and-files{
  background-color: firebrick;
  color: white;
}

.delete-folder-only:hover, .delete-folder-and-files:hover{
  font-weight: bold;
  color: black;
  border: firebrick 1px solid;
}