
body{
  font-family:monospace
}


table {

  border-collapse: collapse; 
  border: rgb(219, 219, 219) 1px solid;   
  box-shadow: 2px 2px 2px rgb(219, 219, 219);        
}

th, td {
  padding: 12px 15px;
  text-align: left;

}



tbody tr:nth-child(even) {
  background-color: #edf5f7;
}


tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover{
  background-color: rgb(199, 212, 230);
}

button{
  border: none;
  padding: .5rem;
  margin: .5rem;
  box-shadow: 1px 1px 2px rgb(189, 189, 189);
}

button:hover{
   background-color: white;
}

button:active{
  transform: translate(1px);
}

.delete-file{
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding:0;
  position:absolute;
  top: -1rem;
  right: -1rem;
  font-size: .6rem;

}
.rename-file{
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding:0;
 
  font-size: 1rem;

}
.delete-file:hover{
  font-size: 1rem;
  background-color: honeydew;
}

.delete-file:active{
  font-size: .7rem;
}

.update-filename-form{
  display: flex;
  padding: 0;
  align-items: baseline;
}
.update-filename-form>button, .update-filename-form>input{
  /* padding: 0 .5rem; */
  height: fit-content;
  margin: 0.3rem 0;
}
.update-filename{
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding:0;
}

.update-filename:hover{
  text-decoration: underline;
}

add-form{
  padding: 2rem;
}

input{
  box-shadow: 1px 1px 1px rgb(189, 189, 189);;
  border: .1px solid rgb(189, 189, 189);;
  padding: .5rem;
  margin: 1rem;
  display: block;
}

input:hover, input:active{
  background-color: #edf5f7;
}
 label{
    padding: 1rem;
 }

 a{
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
 }

 .link-button:link, .link-button:visited{
  background-color: #efedee;
  padding: .3rem;
  border-radius: 2px;
  box-shadow: 1px 1px 1px gray;

 }

 .link-button:hover, .link-button:active{
  background-color:#d4d4d4;
 }

 .link-button:active{
  transform: translate(1px);
 }

 i{
  font-size: 2rem;
 }

 .fa-folder{
  color: #4a90e2;
 }

 .upload-form{
  align-self: flex-start;
  
 }



.loginHeader{
    display: flex;
    align-items: baseline;
    justify-content:space-around;
} 

.loginHeader>h3, .loginHeader>p, .loginHeader>a{
    margin: 1rem;
}
.styles-brands-admin{
  display: flex;
  /* justify-content: space-around; */
}

.brand-style-block{
  display: flex;
  flex-direction:column;
 
  margin: 1rem auto;
align-items: center;
}

.add-form{
  justify-self: flex-end;
}
.user-files{
  display:flex;
  flex-wrap: wrap;
}
.thumbnail{
  height: 6rem;
  padding: .1rem;
  display: block;
  margin: auto;
  position: relative;
 border: .1rem solid rgb(240, 240, 240);
 box-shadow: 1px 1px 2px gray;
}
.user-folders{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure{
  text-align: center;
  position: relative;
}

figcaption{
  padding: .2rem;
}

nav{
  margin: 1rem;
}

body{
 display: flex;
 flex-direction: column;
 align-items: center;
}

hr{
 height: .01rem;
 width: 100%;
}